<div class="container">
  <div class="row">
    <div class="col s4 offset-s4 center" style="margin-top: 8em;">
      <h1><span class="white-text">Bubble Task</span></h1>
      <%= link_to '#', class: 'waves-effect waves-light btn-large' do %>
        <i class="material-icons left">input</i>Googleアカウントでログイン
      <% end %>
    </div>
  </div>
</div>
