<div class="container">
  <div class="row center" style="margin-top: 15em;">
    <div>
      <h1 class="center-align">Bubble Task</h1>
      <%= link_to 'Googleアカウントでログイン', '#', class: 'center-align' %>
    </div>
  </div>
</div>
