<div class="container">
  <div class="row center" style="margin-top: 15em;">
    <div>
      <h1 class="center-align">Bubble Task</h1>
      <%= link_to '#', class: 'center-align waves-effect waves-light btn-large' do %>
        <i class="material-icons left">input</i>Googleアカウントでログイン
      <% end %>
    </div>
  </div>
</div>
