<% if tasks.any? -%>
  <div class="task-summary-list-primary">
    <% tasks.each do |task| %>
      <%= render partial: 'tasks/task_summary', locals: { task: task } %>
    <% end -%>
  </div>
<% else -%>
  <div class="container-float container-primary">
    <p class="message-embedded message-default">
      <%= t('tasks.list.empty') %><i class="material-icons left">done_all</i>
    </p>
  </div>
<% end -%>
<div class="fixed-action-btn">
  <%= link_to new_task_url(tag: @tag), data: { no_turbolink: true }, class: 'btn-floating btn-large waves-effect waves-light' do %>
    <i class="large material-icons">create</i>
  <% end -%>
</div>
