<% if tasks.any? -%>
  <div class="task-summary-list">
    <% tasks.each do |task| %>
      <div class="tags">
        <% task.tags.each do |tag| %>
          <span>tag.content</span>
        <% end %>
      </div>
      <%= link_to task_url(task), class: 'collection-item' do %>
        <%= task.title %><i class="material-icons left">account_circle</i>
      <% end -%>
    <% end %>
  </ul>
<% else -%>
  <p class="empty-list">
    <%= t('tasks.list.empty') %><i class="material-icons left">done_all</i>
  </p>
<% end -%>
