<div class="task-summary-list-primary">
  <% tasks.each do |task| %>
    <%= render partial: 'tasks/task_summary', locals: { task: task } %>
  <% end -%>
</div>
<div class="fixed-action-btn">
  <%= link_to new_task_url(tag: @tag), data: { no_turbolink: true }, class: 'btn-floating btn-large waves-effect waves-light' do %>
    <i class="large material-icons">create</i>
  <% end -%>
</div>
