<ul class="collection z-depth-1">
  <% tasks.each do |task| %>
    <li class="collection-item">
      <%= link_to task_url(task) do %>
        <span class="title"><%= task.title %></span>
      <% end -%>
    </li>
  <% end %>
</ul>
