<div class="task-summary-list">
  <% tasks.each do |task| %>
    <div id="task_#{task.id}" class="task-summary">
      <div class="tags">
        <% task.tags.each do |tag| %>
          <div class="chip"><%= tag %></div>
        <% end %>
      </div>
      <%= link_to task.title, task_url(task) %>
    </div>
  <% end %>
</ul>
