<% if tasks.any? -%>
  <div class="task-summary-list-primary">
    <% tasks.each do |task| %>
      <%= render partial: 'tasks/task_summary', locals: { task: task, show_schedule_actions: show_schedule_actions } %>
    <% end -%>
  </div>
<% else -%>
  <div class="container-float container-primary">
    <p class="message-embedded message-default">
      <%= t('tasks.list.empty') %><i class="material-icons left">done_all</i>
    </p>
  </div>
<% end -%>
