<%= content_for(:page_title) { t('.page_title') } %>
<div class="col s10">
  <div class="container-float container-slim">
    <div class="tag-tasks-header">
      <div class="tag tag-individual tag-nolink"><%= @tag %></div>
    </div>
    <%= render partial: 'tasks/list', locals: { tasks: @tasks } %>
  </div>
</div>
