<% content_for(:navigation_title, t('.navigation_title')) %>
<div class="col s12">
  <div class="container-embedded">
    <div class="section-header section-header-default">
      <span class="title"><%= t('.section_titles.somedays_tasks') %></span>
    </div>
    <div class="somedays-tasks">
      <%= render partial: 'tasks/list', locals: { tasks: @tasks } %>
    </div>
  </div>
</div>
<div class="fixed-action-btn">
  <%= link_to new_task_url, data: { no_turbolink: true }, class: 'btn-floating btn-large waves-effect waves-light task-creation-link' do %>
    <i class="large material-icons">add</i>
  <% end -%>
</div>
