<% content_for(:navigation_title, t('.navigation_title')) %>
<% content_for(:page_title, t('.page_title')) %>
<div class="col s12">
  <div class="container-embedded">
    <div class="todays-tasks">
      <%= render partial: 'tasks/list', locals: { tasks: @todays_tasks } %>
    </div>
    <div class="section-header section-header-default">
      Somedays tasks
    </div>
    <div class="somedays-tasks">
      <%= render partial: 'tasks/list', locals: { tasks: @somedays_tasks } %>
    </div>
  </div>
</div>
<div class="fixed-action-btn">
  <%= link_to new_task_url, data: { no_turbolink: true }, class: 'btn-floating btn-large waves-effect waves-light task-creation-link' do %>
    <i class="large material-icons">add</i>
  <% end -%>
</div>
