<% content_for(:page_title) { t('.page_title') } %>
<div class="col s12">
  <% if @tasks.any? -%>
    <%= render partial: 'tasks/list', locals: { tasks: @tasks } %>
  <% else -%>
    <p class="empty-list">
      <%= t('tasks.list.empty') %><i class="material-icons left">done_all</i>
    </p>
  <% end -%>
</div>
<div class="fixed-action-btn">
  <%= link_to new_task_url, class: 'btn-floating btn-large waves-effect waves-light' do %>
    <i class="large material-icons">create</i>
  <% end -%>
</div>
