<%= content_for(:page_title) { t('.page_title') } %>
<div class="col s10">
  <div class="container-float container-slim">
    <% @tags.each do |tag| %>
      <div class="tag tag-individual">
        <%= link_to tag, tasks_url(tag: tag) %>
      </div> <br>
    <% end %>
  </div>
</div>
