form.achievement-search {
  margin-top: 0.5rem;

  #task_tag_words_tag {
    margin-bottom: 0.5rem;
  }

  .actions {
    margin-top: 1.3rem;
  }
}

.cancel-completion {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.task-completed-on {
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  opacity: 0.4;
}
