@import "materialize/components/color";

/*** Additional variables ***/
$primary-bg-color: #F7FCBD;
$primary-font-color: #3A3335;

/*** Color ***/
$primary-color: #EFF4AB;
$secondary-color: #456293 !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "darken-1") !default;
$link-color: #539fac !default;

/*** Body ***/
body { background-color: #e6e6e6; }

@import "materialize";
@import "material_icons";

@import "navigation";
@import "form";
@import "sign_in";
@import "home";
@import "task";

html {
  color: $primary-font-color;
  font-family: 'Ruboto', '游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

main {
  margin-top: 2.5rem;
}

.z-depth-1{
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.primary-container {
  @extend .card-panel;

  background-color: $primary-bg-color;
}

.dropdown-content {
  li.nolink {
    span { color: $primary-font-color; }
    &:hover, &.active { background-color: $dropdown-bg-color; }
  }
}

.page-navigation {
  @extend .center;

  a {
    margin-top: 0.5rem;
    background-color: #FFF;
    color: lighten($primary-font-color, 15%);
  }
}
