@import "materialize/components/color";

$side-nav-width: 240px;

/*** Color ***/

/*** Additional variables ***/
$primary-bg-color: #F7FCBD;
$primary-font-color: #3A3335;
$bottom-color: #E6E6E6;

$primary-color: #F7FCBD;
$secondary-color: #456293 !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "darken-2") !default;
$link-color: $secondary-color !default;

/*** Turbolinks Progress Bar ***/
html.turbolinks-progress-bar::before {
  background-color: $primary-bg-color !important;
}

/*** Body ***/
body { background-color: $bottom-color; }

@import "materialize";
@import "material_icons";

$primary-height: $navbar-height;

@import "navigation";
@import "containers";
@import "components";
@import "form";
@import "tags_input";
@import "sign_in";
@import "task";
@import "tags";
@import "achievements";

html {
  color: $primary-font-color;
  font-family: 'Ruboto', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

@media #{$large-and-up} {
  header,
  main {
    margin-left: $side-nav-width;
  }
}

.row-no-margin { margin-bottom: 0; }

.container { width: 90%; }

.z-depth-1{
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.fixed-action-btn {
  right: 100px;
  top: 20px;
}

.toast {
  background-color: #FFF;

  &.success {
    border-left: 5px solid $success-color;
    color: $success-color;
  }
  &.error {
    border-left: 5px solid $error-color;
    color: $error-color;
  }
}
