@import "materialize/components/color";

/*** Additional variables ***/
$bottom-color: color("grey", "lighten-3");
$content-bg-color: #FFF;
$brand-font-color: color("grey", "darken-1");
$primary-font-color: color("grey", "darken-1");

/*** Color ***/
$primary-color: color("brown", "lighten-5") !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("amber", "darken-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: $primary-font-color;

/*** Body ***/
body { background-color: $bottom-color; }

@import "materialize";
@import "material_icons";

@import "navigation";
@import "sign_in";
@import "home";

main { margin-top: 1rem; }
