.message-embedded {
  line-height: 1rem;
  font-size: 1.5rem;

  i { line-height: 1rem; }
}

.message-default {
  color: lighten($primary-font-color, 45%);
}

.btn-flat {
  color: $link-color;
}

.dropdown-content {
  li > a {
    font-size: 1rem;
  }
}

.icon-heading {
  margin-right: 0.8rem;
}

.danger {
  color: $error-color;
}

.assignee {
  vertical-align: middle;
  width: 28px;
  height: 28px;
}
