.title {
  color: $primary-font-color;
  font-size: 1rem;
  font-weight: 700;
  opacity: 0.5;
}

.message-embedded {
  line-height: 1rem;
  font-size: 1.5rem;

  i { line-height: 1rem; }
}

.message-default {
  color: lighten($primary-font-color, 45%);
}

.btn-flat {
  color: $link-color;
}

.dropdown-content {
  li > a {
    font-size: 1rem;
  }
}

.icon-heading {
  margin-right: 0.8rem;
}

.danger {
  color: $error-color;
}

.assignee {
  $size: 30px;
  vertical-align: middle;
  width: $size;
  height: $size;
}

.task_creation_on_tags {
  $line-height: 2.5rem;

  padding: none;
  line-height: $line-height;

  i {
    line-height: $line-height;
    font-size: 1.5rem;
    opacity: 0.7;
  }
}

.section-header {
  @extend .z-depth-1;
  height: $primary-height;
  line-height: $primary-height;
  padding-left: 1.5rem;
}

.section-header-thin {
  @extend .z-depth-1;
  height: $primary-height / 4;
  line-height: $primary-height / 4;
  padding-left: 1.5rem;
}

.section-header-default {
  background-color: darken($primary-color, 6%);
}
