// Structures
.container-embedded {
  margin-top: 0;
}

.container-float {
  padding: 1.5rem 2rem;
}

.container-float-slim {
  padding: 0rem 1.5rem;
}

.container-slim {
  padding: 0;
}

// Skins
.container-primary {
  @extend .z-depth-1;
  background-color: $primary-bg-color;
}

// Adhoc
.container-achievement-search {
  padding: 0.2rem 1.5rem 1.0rem 1.5rem;
}
