// Structures
.container-embedded {
  margin-top: 0;
}

.container-float {
  margin-top: 1.5rem;
  padding: 1.5rem 2rem;
}

.container-slim {
  padding: 0;
}

// Skins
.container-primary {
  @extend .z-depth-1;
  background-color: $primary-bg-color;
}
