form .actions {
  @extend .right-align;

  .btn-flat:hover {
    color: lighten($secondary-color, 50%);
    background-color: $secondary-color;
  }
}

form .actions-inline {
  padding-top: 0.8rem !important;
}

.error-explanation {
  color: $error-color;
  margin-bottom: 3rem;

  i {
    margin-right: 9px;
    vertical-align: middle;
  }
}

label.invalid {
  color: $error-color;
}
