$side-nav-width: 240px;

nav.top-nav {
  background-color: #FFF;

  a.page-title {
    color: $secondary-color;
    font-weight: 200;

    i { font-size: 1.2rem; }
  }
}

.side-nav.fixed {
  $bg-color: color("grey", "lighten-3");
  $link-color: darken($secondary-color, 5%);
  $line-height: 64px;

  width: $side-nav-width;
  background-color: $bg-color;

  li {
    &:hover, &.active { background-color: darken($bg-color, 5%); }
  }

  li.brand-logo {
    //background-color: $secondary-color;

    a {
      //color: #EEE;
      font-size: 1.15rem;

      i { margin-right: 5px; }
    }
  }

  li.user-area {
    img.avatar {
      margin-right: 10px;
      vertical-align: middle;
      width: 38px;
      height: 38px;
    }
  }

  a {
    color: $link-color;
    font-weight: 200;
    i { line-height: $line-height; }
  }
}

@media #{$large-and-up} {
  header, main {
    padding-left: $side-nav-width;
  }
  .container {
    width: 90%;
  }
}

@media #{$medium-and-down} {
  nav .nav-wrapper {
    text-align: center;
  }
}

a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 0.3rem;
  color: black;
  font-size: 32px;
  z-index: 2;
}
