nav {
  $bg-color: #FFF;
  $font-color: #456293;

  background-color: $bg-color;

  .container {
    width: 100%;
    margin: 0 auto 0 15px;
  }

  a.brand-logo {
    padding: 0 15px;
    color: $font-color;
    font-size: 1.3rem;
    font-weight: 700;
  }
}

a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  left: 15px;
  top: 0;
  float: none;
  margin-left: 0.3rem;
  color: $secondary-color;
  font-size: 32px;
  z-index: 2;
}

.side-nav.fixed {
  @media #{$large-and-up} {
    z-index: 1;
    top: 65px;
  }

  @extend .z-depth-1;

  width: $side-nav-width;

  $bg-color: $bottom-color;
  $font-color: $secondary-color;
  $line-height: 64px;

  background-color: $bg-color;

  i {
    color: $font-color;
    line-height: $line-height;
  }

  li:hover { background-color: #FFF; }

  li.divider { background-color: darken($bg-color, 5%); }

  li.avatar{
    i { font-size: 1.2rem; }

    img {
      vertical-align: middle;
      margin-right: 9px;
      width: 28px;
      height: 28px;
    }
  }

  .dropdown-content {
    li {
      &:hover { background-color: lighten($secondary-color, 50%); }
    }
  }
}
