nav {
  $bg-color: #FFF;
  $font-color: $secondary-color;

  background-color: $bg-color;

  .brand-logo {
    font-size: 1.1rem;
    color: $font-color;
  }
}

a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  left: 15px;
  top: 0;
  float: none;
  margin-left: 0.3rem;
  color: $secondary-color;
  font-size: 32px;
  z-index: 2;
}

.side-nav.fixed {
  @extend .z-depth-1;

  width: $side-nav-width;

  $bg-color: $secondary-color;
  $font-color: #FAFAFA;
  $line-height: 64px;

  background-color: $bg-color;

  a { color: $font-color; }

  i {
    line-height: $line-height;
  }

  li:hover { background-color: lighten($bg-color, 15%); }

  li.divider { background-color: darken($bg-color, 5%); }

  li.brand-logo {
    a {
      margin-left: 6px;
      font-size: 1.1rem;
      font-weight: 700;
    }
  }

  li.avatar{
    i { font-size: 1.5rem; }

    img {
      vertical-align: middle;
      margin-right: 9px;
      width: 28px;
      height: 28px;
    }
  }
}

.dropdown-content {
  background-color: $secondary-color;
}
