body#sign-in {
  background: image_url('sign-in-bg.png');
  background-color: $bottom-color;
}

.container.sign-in {
  @extend .center;

  width: 100%;
  margin-top: 7rem;

  h1 {
    color: #FFF;
    opacity: 0.5;
    letter-spacing: -1.2rem;
    font-size: 15rem;
    font-weight: 700;
  }
}
