body#sign-in {
  background-color: $primary-bg-color;
  background: image_url('sign_in_bg.png');
}

.container.sign-in {
  @extend .center;

  width: 100%;
  margin-top: 7rem;

  h1 {
    color: #f5f5f5;
    letter-spacing: -1.2rem;
    font-size: 15rem;
    font-weight: 700;
  }
}
