body#sign-in {
  background: image_url('sign_in_bg.png');
}

.card-sign-in {
  .brand-logo {
    h1 {
      font-size: 2rem;
      font-weight: 200;
    }
  }
}

.card-sign-in-btn {
  background-color: $secondary-color;

  a {
    width: 100%;
  }
}
