$tag-bg-color: #E6E18F;
$tag-font-color: #92977E;

.tag {
  @extend .chip;

  background-color: $tag-bg-color;
  color: $tag-font-color;

  a { color: $tag-font-color; }

  &:hover {
    background-color: darken($tag-bg-color, 15%);
    a { color: darken($tag-font-color, 15%); }
  }
}

.tag-personal {
  @extend .chip;
  border-radius: 0.2rem;
}

.tag-individual {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 3rem;
  vertical-align: middle;
  padding: 0 1.2rem;
  border-radius: 1.5rem;
}

// Containers

.tag-list {
  margin-top: 2rem;
}

.tags {
  margin-bottom: 0.8rem;
}
