$tags-input-top-margin: 0.45rem;

#task_tag_words_tag {
  height: 2rem;
  margin-bottom: 1.5rem;
}

.tag-words-guide {
  margin-left: 3rem;
  font-size: 0.8rem;
  color: $input-border-color;
}

label.tags-input.active {
  top: 0.80rem;
}

div.for-tags-input {
  margin-top: 2.5rem;
}

div.tagsinput {
  // Adjust
  margin: $tags-input-top-margin 0 0 3rem;
  width: calc(100% - 3rem);

  // jquery tags inut
  overflow-y: auto;

  //// Materialize
  // General Styles
  background-color: transparent;
  outline: none;
  height: 3rem;
  font-size: 1rem;
}

div.tagsinput input {
  width: 80px;
  border: 0;
  outline: none;
  background: transparent;

  margin-top: $tags-input-top-margin;
}

@mixin tag-in-input {
  border-radius: 16px;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0 12px;

  margin-top: $tags-input-top-margin;
  margin-right: 5px;
}

div.tagsinput span.tag {
  @include tag-in-input;
  display: block;
  float: left;
}

input.not_valid {
  @include tag-in-input;
  text-align: center;
  background: $error-color !important;
  color: #FFF !important;
}

/*** autocompletion ***/
.ui-helper-hidden-accessible { display: none; }

.ui-autocomplete.ui-widget-content {
  opacity: 0.8;
  background-color: darken($primary-bg-color, 10%);

  .ui-menu-item {
    padding: 0.3rem 0.3rem;
    color: $primary-font-color;

    &:first-child {
      padding-top: 0.5rem;
    }
  }

  .ui-state-focus {
    font-weight: 600;
    background-color: $primary-bg-color;
  }
}
