.task-summary-list {
  @extend .collection, .z-depth-1;

  background-color: $primary-bg-color;
  border: none;
}

.task-summary {
  padding: 0.7rem 1.2rem;
  border-bottom: solid 1px $collection-border-color;

  color: $primary-font-color;
  font-size: 1.3rem;

  .tags {
    margin-bottom: 0.8rem;
  }

  .chip {
    background-color: #E6E18F;
    color: #92977E;
    //background-color: #FFD07B;
    //color: lighten($primary-font-color, 30%);
    //background-color: #AFC2D5;
    //color: #fcfcfc;
  }

  a {
    color: $primary-font-color;
  }

  &:hover { background-color: lighten($primary-bg-color, 5%); }
}

.empty-list {
  color: lighten($primary-font-color, 45%);
  line-height: 1rem;
  font-size: 1.5rem;

  i { line-height: 1rem; }
}
