.task-summary-list-primary {
  @extend .z-depth-1;
  background-color: $primary-bg-color;
}

.task-title {
  font-size: 1.3rem;
  color: $primary-font-color;
}

.task-actions {
  @extend .right-align;

  i {
    font-size: 1.8rem;
    opacity: 0.5;
  }

  .modal { @extend .left-align; }
}

.assign_myself {
  display: block;
  margin-top: 0.5rem;
}

.task-summary {
  padding: 1.0rem 1.4rem 0.8rem 1.4rem;

  .tags {
    margin-bottom: 0.7rem;
  }

  .task-title {
    margin-left: 0.2rem;
  }

  .task-assignees {
    margin-left: 0.2rem;
    margin-top: 0.7rem;
  }
}

.task-summary-primary {
  border-bottom: solid 1px $collection-border-color;

  &:hover { background-color: lighten($primary-bg-color, 5%); }

  &:last-child {
    border-bottom: none;
  }
}

.task-detail {
  .task-title {
    font-size: 1.5rem;
    margin-left: 0.2rem;
  }

  .task-description {
    word-wrap: break-word;
    font-size: 1.1rem;
  }
}
