.task-summary-list-primary {
  @extend .z-depth-1;
  background-color: $primary-bg-color;
}

.task-summary {
  padding: 1.3rem 1.4rem 0.9rem 1.4rem;

  .tags {
    margin-bottom: 0.8rem;
  }

  .task-title {
    margin-left: 0.25rem;
  }

  .task-actions {
    @extend .right-align;
    i { opacity: 0.6; }

    .modal { @extend .left-align; }
  }
}

.task-title {
  font-size: 1.3rem;
  color: $primary-font-color;
}

.task-summary-primary {
  border-bottom: solid 1px $collection-border-color;

  &:hover { background-color: lighten($primary-bg-color, 5%); }

  &:last-child {
    border-bottom: none;
  }
}

.task-detail {
  .tags {
    margin: 0.5rem 0 1.5rem 0;
  }

  .task-title {
    font-size: 1.5rem;
    margin-left: 0.2rem;
  }

  .task-description {
    word-wrap: break-word;
    font-size: 1.1rem;
  }

  .task-actions {
    margin-top: 1rem;
    text-align: right;
  }
}
