<div class="row row-no-margin">
  <div class="col s9">
    <span class="title"><%= t('achievements.index.result_header', size: size) %></span>
  </div>
  <div class="col s3 right-align">
    <% if conditioned -%>
      <%= link_to achievements_url, class: 'waves-effect waves-light btn-flat' do %>
        <%= t('achievements.index.actions.reset') %>
        <i class="material-icons left">cancel</i>
      <% end -%>
    <% end -%>
  </div>
</div>
