<div class="row row-no-margin">
  <div class="col s9">
    <% if size > 0 %>
      <span class="title"><%= t('achievements.index.result_header', size: size) %></span>
    <% else -%>
      <span class="title"><%= t('achievements.index.result_header_empty') %></span>
    <% end -%>
  </div>
  <div class="col s3 right-align">
    <% if conditioned -%>
      <%= link_to achievements_url, data: { no_turbolink: true }, class: 'waves-effect waves-light btn-flat' do %>
        <%= t('achievements.index.actions.reset') %>
        <i class="material-icons left">cancel</i>
      <% end -%>
    <% end -%>
  </div>
</div>
