<div id="<%= task_css_id(task.id) %>" class="task-summary task-summary-primary">
  <div class="row row-no-margin">
    <div class="col s12">
      <%= render partial: 'tasks/task_tags', locals: { tags: task.tags } %>
      <%= link_to task.title, task_url(task), class: 'task-title' %>
    </div>
  </div>
</div>
