<header>
  <div class="navbar-fixed">
    <nav role="navigation">
      <div class="container">
        <div class="nav-wrapper">
          <div class="brand">
            <a href="/" class="brand-logo">
              <i class="material-icons left">hdr_weak</i>
              Bubble Task
            </a>
          </div>
          <ul class="right hide-on-med-and-down">
            <li><a href="#"><%= current_user.name %></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
