<header>
  <nav class="top-nav">
    <div class="container">
      <div class="nav-wrapper"><a class="page-title">Home</div>
    </div>
  </nav>
  <div class="container">
    <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
      <i class="mdi-navigation-menu"></i>
    </a>
  </div>
  <ul id="nav-mobile" class="side-nav fixed">
    <li class="logo">
      <a id="logo-container" class="brand-logo">
        <i class="material-icons">hdr_weak</i>
        Bubble Task
      </a>
    </li>
  </ul>
</header>
