<header>
  <div class="navbar-fixed">
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" data-activates="slide-out" class="button-collapse top-nav hide-on-large-only">
            <i class="mdi-navigation-menu"></i>
          </a>
          <a href="/" class="brand-logo">Bubble Task</a>
        </div>
      </div>
    </nav>
  </div>
</header>
<ul id="slide-out" class="side-nav fixed">
  <li class="avatar">
    <%= link_to '#!', class: 'dropdown-button', data: { activates: 'side-user-menu', beloworigin: 'true' } do %>
      <img src="https://gravatar.com/avatar" class="circle" />
      <%= current_user.name %><i class="mdi-navigation-arrow-drop-down right"></i>
    <% end -%>
    <ul id="side-user-menu" class="dropdown-content">
      <li><%= link_to t('sessions.actions.sign_out'), session_url, method: :delete %></li>
    </ul>
  </li>
  <li class="divider"></li>
  <li>
    <%= link_to root_url do %>
      Task<i class="material-icons left">view_list</i>
    <% end -%>
  </li>
</ul>
