<% if errors.any? %>
  <ul class="error-explanation">
    <li><i class="material-icons left">error</i></li>
    <% errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
