<% if errors.any? %>
  <ul class="error-explanation">
    <% errors.full_messages.each do |message| %>
      <li><i class="material-icons">error</i><%= message %></li>
    <% end %>
  </ul>
<% end %>
