<div class="navbar-fixed">
  <nav role="navigation">
    <div class="container">
      <div class="nav-wrapper">
        <div class="brand">
          <a href="/" class="brand-logo">Bubble Task</a>
        </div>
      </div>
    </div>
  </nav>
</div>
