<% if page_title = content_for(:page_title) -%>
  <div class="row row-no-margin">
    <div class="col <%= content_for(:navigation_size) || 's12' %>">
      <nav class="page-navigation page-navigation-default">
        <div class="nav-wrapper">
          <span class="title"><%= page_title %></span>
        </div>
      </nav>
    </div>
  </div>
<% end -%>
